@page "/Tests/Add"
@inherits PageBase

@inject TestsService testService
@inject CoursesService courseService
@inject QuestionsService questionService
@inject ILocalStorageService storageService
@attribute [Authorize(Roles = "Teacher")]

<MudContainer MaxWidth=MaxWidth.ExtraLarge>
    @if (isBusy)
    {
        <MudProgressCircular Color="Color.Success" Indeterminate="true" />
    }
    else
    {
        <div class="row justify-content-between">
            <div class="col-md-7">
                <MudCard Class="d-flex p-2 justify-center mud-width-full py-8" Outlined=true Elevation=6>
                    <div class="row my-2">
                        <div class="col-12 my-2">
                            <MudText Typo=Typo.h6>Új teszt hozzáadása</MudText>
                        </div>
                        <div class="col-12 my-2">
                            <MudTextField @bind-Value="testName" TextChanged="() => SaveTestName()" T="string" Label="A teszt címe" Variant="Variant.Outlined" />
                            @if (courses.Count() > 0)
                            {
                                <MudSelect Label="Kurzus kiválasztása" @bind-Value="selectedCourse" SelectedValuesChanged="() => SaveSelectedState()" T="Course" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                                    @foreach (var c in courses)
                                    {
                                        <MudSelectItem T="Course" Value="c">@c.Name</MudSelectItem>
                                    }
                                </MudSelect>
                            }
                        </div>
                        <div class="col-12 my-2">
                            <NewQuestion></NewQuestion>
                        </div>
                    </div>
                </MudCard>
            </div>

            <div class="col-md-3">
                <MudPaper Outlined="true" Class="d-flex justify-center mud-width-full p-2 py-8">
                    <div class="row">
                        <div class="col-12">
                            <MudText Typo=Typo.h6>Tesztjeim</MudText>
                        </div>
                        <div class="col-12">
                            <TestSelector IsChipNeeded=false></TestSelector>
                        </div>
                    </div>
                </MudPaper>
            </div>
        </div>
        <div class="row justify-content-between mt-3 mb-5">
            <div class="col-md-7">
                <MudCard Class="d-flex p-2 justify-center mud-width-full py-8" Outlined=true Elevation=6>
                    <div class="row">
                        <div class="col-12">
                            <MudText Typo=Typo.h6>Hozzáadott új kérdések</MudText>
                        </div>
                        <div class="col-12">
                            @if (addedQuestions.Count() > 0)
                            {
                                <MudPaper Outlined="true" Class="col-12">
                                    <MudList>
                                        @foreach (Question q in addedQuestions)
                                        {
                                            <MudListItem Avatar="@Icons.Material.Filled.QuestionMark">
                                                @q.Title
                                            </MudListItem>
                                        }
                                    </MudList>
                                </MudPaper>
                            }
                        </div>
                    </div>
                </MudCard>
            </div>
            <div class="col-md-7 mt-3">
                <MudCard Class="mb-3 d-flex p-2 justify-center mud-width-full py-8" Outlined=true Elevation=6>
                    <div class="row">
                        <div class="col-12">
                            <MudText Typo=Typo.h6>Beállítások</MudText>
                        </div>
                        <div class="col-12">
                            <MudCheckBox @bind-Checked="@takingAllowed" T="bool" Class="ml-n2" Label="Teszt megnyitása kitöltésre" />
                            <MudCheckBox @bind-Checked="@ipFilter" T="bool" Class="ml-n2" Label="IP cím szűrés beállítása" />
                        </div>
                        @if (ipFilter)
                        {
                            <div class="col-12">
                                <MudText Typo=Typo.subtitle1>Add meg azt az IP tartományt, amelyre a kitöltést engedélyezni szeretnéd. Formátum: 80.90.x.x esetén 80.90.0.0-tól 80.90.255.2555-ig bármilyen hoszt kitöltheti a tesztet.</MudText>
                                <div class="d-flex justify-space-between mt-6">
                                    <MudTextField TextChanged="() => SaveIP()" @bind-Value="ipAddress" Label="IP tartomány" Variant="Variant.Text"></MudTextField>
                                </div>
                            </div>
                        }
                    </div>
                </MudCard>
                <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" Class="mx-auto" OnClick="() => SubmitTest()">Teszt hozzáadása</MudButton>
            </div>
        </div>
    }
</MudContainer>

@code {

    private bool isBusy;
    private bool takingAllowed;
    private bool ipFilter;
    private Course? selectedCourse;
    private string? testName;
    private string? ipAddress = "0.0.0.0";
    private List<Question>? addedQuestions;
    private IEnumerable<Course> courses = new List<Course>();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    void AddQuestion()
    {
        _navManager.NavigateTo("/questions/newQuestion/");
    }

    async void SaveSelectedState()
    {
        await storageService.SetItemAsync("selectedCourse", selectedCourse);
    }

    async void SaveTestName()
    {
        await storageService.SetItemAsync("newTestName", testName);
    }

    async void SaveQuestions()
    {
        await storageService.SetItemAsync("savedQuestions", addedQuestions);
    }

    async void SaveIP()
    {
        await storageService.SetItemAsync("IP", ipAddress);
    }

    async void SubmitTest()
    {
        try
        {
            await testService.AddTestAsync(new TestDTO()
                {
                    Title = testName,
                    AllowedTakeLength = TimeSpan.FromMinutes(2),
                    IsLateSubmissionAllowed = true,
                    IsShared = true
                });
            
            var newTest = (await testService.GetAllTestsAsync()).OrderByDescending(x => x.CreationTime).FirstOrDefault();
            if (newTest != null)
            {
                foreach (var q in addedQuestions)
                {
                    await questionService.AddQuestionToTest(q.ID, newTest.ID);
                }
                await courseService.AddTestToCourse(new TestInCourseDTO()
                    {
                        TestID = newTest.ID,
                        CourseID = selectedCourse?.ID,
                        AllowedIPSubnet = ipAddress,
                        IsOpen = takingAllowed
                    });

                Snackbar.Add($"{newTest.Title} sikeresen hozzá lett adva a(z) {selectedCourse.Name} kurzushoz!", Severity.Success);
            }
            else
            {
                Snackbar.Add("Hiba: a teszt hozzáadása sikertelen volt!", Severity.Error);
            }

            await storageService.RemoveItemsAsync(new List<string>()
            {
                "selectedCourse",
                "newTestName",
                "savedQuestions",
                "IP"
            });

            _navManager.NavigateTo(_pageState.PreviousPage());
        }
        catch (Exception)
        {
            Snackbar.Add("Hiba: ismeretlen hiba történt!", Severity.Error);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        isBusy = true;
        var userState = await authenticationState;
        courseService.AccessToken = userState.User.FindFirst("AccessToken").Value;
        testService.AccessToken = userState.User.FindFirst("AccessToken").Value;
        courses = await courseService.GetOwnCoursesAsync();

        string? getSavedName = await storageService.GetItemAsync<string>("newTestName");
        string? getIP = await storageService.GetItemAsync<string>("IP");
        Course? getSavedSelected = await storageService.GetItemAsync<Course>("selectedCourse");
        List<Question>? getSavedQuestions = await storageService.GetItemAsync<List<Question>>("savedQuestions");

        testName = getSavedName == null ? String.Empty : getSavedName;
        ipAddress = getIP == null ? String.Empty : getIP;
        if (getSavedSelected != null)
        {
            selectedCourse = getSavedSelected;
        }
        else
        {
            selectedCourse = new Course() { Name = "Kurzus kiválasztása" };
        }

        addedQuestions = getSavedQuestions == null ? new List<Question>() : getSavedQuestions;

        if (_pageState.PreviousPage().Contains("newQuestion"))
        {
            addedQuestions.Add((await questionService.GetOwnQuestionsAsync()).OrderByDescending(x => x.CreationTime).FirstOrDefault());
            SaveQuestions();
        }

        await base.OnInitializedAsync();
        isBusy = false;
    }
}
